@charset "UTF-8";

.mypage-items{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	border: 1px solid gray;
	
	width: 100%;
	height: 100%;	
}
tabel{
	border:  1px solid gray;
	margin-bottom: 20px;
}
td{
	border: 1px solid gray;
	padding : 10px;
	height: 30px;
}
.preview-img{
	display : flex;
	justify-content : center;
	align-items : center;
	height :100%;
	overflow: hidden;
}
.preview-img img{
	width: 50%;
		
}
